<!-- main.hbs-->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
   <script src="/app.js" id="data" type ="application/json"></script>
    <meta charset="utf-8">
    <title>Sparrow Lane Zoological Center App</title>
</head>

<body>
    
    {{{body}}}

</body>

</html>