<!-- main.hbs-->

<!DOCTYPE html>
<html>

<head>
    <link href="public/css/app.css" rel="stylesheet" type="text/CSS">
    <meta charset="utf-8">
    <title>Sparrow Lane Zoological Center App</title>
</head>

<body>
    
    {{{body}}}

</body>

</html>