<!-- main.hbs-->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/app.css" />
    
    <meta charset="utf-8">
    <title>Sparrow Lane Zoological Center App</title>
</head>

<body>
    
    {{{body}}}

</body>

</html>