<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparrow Lane Zoological Center</title>
    <link rel="stylesheet" type="text/css" media="screen" href="public/css/app.css" />
    <script src="main.js"></script>
</head>

<body>
    <header>
        <h1>Sparrow Lane Zoological Center</h1>
    </header>
  <nav>
    [
    <a href="index.hbs">Home</a>
    |
    <a href="employees.hbs">Employees</a>
    |
    <a href="animals.hbs">Animals</a>
    |
    <a href="species.hbs">Species</a>
    |
    <a href="budgets.hbs">Budgets</a>
    |
    <a href="admissions.hbs">Admissions</a>
    |
    <a href="habitat.hbs">Habitat Enclosures</a>
    |
    <a href="foodsupplies.hbs">Food and Supplies</a>
    |
    <a href="foodsuppliesperanimal.hbs">Food and Supplies Per Animal</a>
    ]
  </nav>
    <main>
        <section>
            <h2>Food and Supplies Per Animal</h2>
            <p>Manage Food and Supplies Per Animal for Sparrow Lane Zoological Center</p>
            <table border=".5" cellpadding="5">
                <tbody>
                    <tr>
                        <th>Animal Item ID</th>
                        <th>Animal ID</th>
                        <th>Item ID</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h3>Search Food and Supplies per Animal</h3>
                <form id="search-foodsuppliesperanimal-html" method="GET" action="/foodsuppliesperanimals.html">
                    <table class="sub-table">
                        <tbody>
                            <tr>
                                <td>
                                    <p><label for="input-animal-item-ID">Animal Item ID: </label></p>
                                </td>
                                <td><input type="text" name="animal-item-ID" id="input-animal-item-ID-html-search"
                                        required="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-btns">
                        <input type="submit" value="Search">
                    </div>
                </form>
            </div>
            <div>
                <h3>Create a Food and Supplies per Animal</h3>
                <form method="POST" id="createFoodandSuppliesperAnimal">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="AnimalID">Animal ID:</label>
                                </td>
                                <td> <select name="animalItemListID">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3" selected>3</option>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label for="ItemID">Item ID:</label>
                                </td>
                                <td> <select name="animalItemListID">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3" selected>3</option>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="Create" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div>
                <h3>Edit Food and Supplies per Animal</h3>
                <form method="POST" id="editFoodandSuppliesPerAnimal">
                    <table>
                        <tbody>
                            <tr>
                                <td>Animal Item ID:</td>
                                <td> <select name="animalItemListID">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3" selected>3</option>
                                </td>
                            </tr>
                            <tr>
                                <td>Animal ID:</td>
                                <td> <select name="animalItemListID">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3" selected>3</option>
                                </td>
                            </tr>
                            <tr>
                                <td>Item ID:</td>
                                <td> <select name="animalItemListID">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3" selected>3</option>
                                </td>
                            </tr>
                            <td>
                                <input type="submit" value="Edit" />
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Ashley Quarford and Tyler Gebel</p>
    </footer>
</body>

</html>