<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparrow Lane Zoological Center</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <script src="/app.js" id="data" type ="application/json"></script>
</head>

<body>
    <header>
        <h1>Sparrow Lane Zoological Center</h1>
    </header>
    <nav>
        [
        <a href="index.hbs">Home</a>
        |
        <a href="employees.hbs">Employees</a>
        |
        <a href="animals.hbs">Animals</a>
        |
        <a href="species.hbs">Species</a>
        |
        <a href="budgets.hbs">Budgets</a>
        |
        <a href="admissions.hbs">Admissions</a>
        |
        <a href="habitat.hbs">Habitat Enclosures</a>
        |
        <a href="foodsupplies.hbs">Food and Supplies</a>
        |
        <a href="foodsuppliesperanimal.hbs">Food and Supplies Per Animal</a>
        ]
    </nav>
    <main>
        <section>
            <h2>Food and Supplies Per Animal</h2>
            <p>Manage Food and Supplies Per Animal for Sparrow Lane Zoological Center</p>
            <table id="foodsuppliesperanimal-table" border=".5" cellpadding="5">
                <thread>
                    <tr>
                        <th>Animal Item ID</th>
                        <th>Animal ID</th>
                        <th>Item ID</th>
                        <th>Delete Animal Item</th>
                    </tr>

                </thread>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.animalItemListID}}</td>
                        <td>{{this.animalName}}</td>
                        <td>{{this.itemID}}</td>

                        <td><button onclick="deleteFoodsuppliesperanimal({{this.animalItemListID}})">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <script src="./js/delete_foodsuppliesperanimal.js"></script>


            <!-- Searching Food and Supplies per Animal-->
            <div>
                <h3>Search </h3>
                <form id="search-admission-html" method="GET">
                    <label for="input-admissionID">Animal Item ID: </label>
                    <input type="text" name="animalItemListID" id="input-animalItemListID-html-search">
                    <input type="submit">
                    <a href='/foodsuppliesperanimal.hbs'><button>Reset</button></a>

                </form>
            </div>




        </section>
    </main>
    <footer>
        <p>&copy; 2023 Ashley Quarford and Tyler Gebel</p>
    </footer>
</body>

</html>