<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="/public/css/app.css" />
  <script src="/app.js" type ="text/javascript"></script>
</head>

<body>
  <header>
    <h1>Sparrow Lane Zoological Center</h1>
  </header>
  <nav>
    [
    <a href="index.hbs">Home</a>
    |
    <a href="employees.hbs">Employees</a>
    |
    <a href="animals.hbs">Animals</a>
    |
    <a href="species.hbs">Species</a>
    |
    <a href="budgets.hbs">Budgets</a>
    |
    <a href="admissions.hbs">Admissions</a>
    |
    <a href="habitat.hbs">Habitat Enclosures</a>
    |
    <a href="foodsupplies.hbs">Food and Supplies</a>
    |
    <a href="foodsuppliesperanimal.hbs">Food and Supplies Per Animal</a>
    ]
  </nav>
  <main>
    <section>
      <h2>Home</h2>
      <p>
        Welcome to the Sparrow Lane Zoological Center! Sparrow Lane Zoological
        Center has 175 residing animals ranging in over 75 different species.
        The zoo sees over 500,000 visitors each year and makes about $1.5
        million in profit each year. A database driven website will record
        day-to-day zoo keeping practices as well as the daily inflow of
        visitors. A record of each species will be recorded, as well as each
        individual animal. The dietary requirements of each animal and the
        daily supplies they require will also be maintained. In order to keep
        track of the zoo’s budget, a record of admissions, the employees who
        work at the zoo, and the activity of each habitat at the zoo will be
        managed and properly organized.
      </p>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Ashley Quarford and Tyler Gebel</p>
  </footer>
</body>

</html>

